.upload-file {
  @apply text-sm;

  &__label {
    @apply block mb-2 font-medium;
  }

  &__body {
    @apply flex justify-center relative py-6 w-full rounded;

    border: rem(2) dashed $light-gray;
    transition: border-color 0.3s ease 0s;

    &:hover {
      border-color: $blue;
    }

    &_active {
      border-color: $blue;
    }
  }

  &__box {
    @apply flex flex-col gap-2 text-center;
  }

  &__img {
    @apply h-12;

    img {
      @apply w-full h-full;
    }
  }

  &__hint {
    @apply font-medium;

    span {
      color: $blue;
    }
  }

  &__sub-hint {
    @apply text-xs whitespace-nowrap overflow-hidden text-ellipsis;
    @include responsive-value("max-width", 460, 230);
  }

  &__input {
    @apply absolute inset-0 opacity-0 z-10 cursor-pointer;
  }
}
