.title {
  h2 {
    @apply text-lg font-medium;

    margin-bottom: em(5, 18);
  }

  p {
    @apply text-sm;

    color: $gray;
  }

  &_large {
    h2 {
      @apply text-2xl font-semibold;
    }

    p {
      @apply text-base;

      color: $main-color;
    }
  }
}
