.stats-cards {
  @apply flex items-center gap-0.5 relative pb-0.5;

  @media (width < $tablet) {
    @apply flex-col items-stretch;
  }

  // .stats-cards__card

  &__card {
    @apply flex flex-col gap-1 p-4;

    box-shadow: 0 rem(1) rem(2) $light-gray;
    background-color: #fff;

    @media (width > $tablet) {
      flex: 1 1 33.333%;
    }

    &:first-child {
      @apply rounded-l;
    }

    &:last-child {
      @apply rounded-r;
    }
  }

  &__box {
    @apply flex gap-1;
  }

  // .stats-cards__name

  &__name {
    @apply font-medium whitespace-nowrap;
  }

  // .stats-cards__main

  &__main {
    flex: 0 1 60%;

    @media (width < $pc) {
      @apply grow;
    }

    > *:not(:last-child) {
      margin-right: em(2, 24);
    }
  }

  // .stats-cards__number

  &__number {
    @apply text-2xl font-medium;

    color: $blue;
  }

  // .stats-cards__income

  &__income {
    @apply text-sm;

    color: $gray;

    @media (width < $mobile-small) {
      @apply absolute;

      top: rem(18);
      right: rem(18);
    }
  }

  // .stats-cards__difference

  &__difference {
    @apply inline-flex items-center rounded-full font-medium;

    padding: 0 em(15);
    color: $dark-green;
    background-color: $light-green;

    @media (width < $tablet) {
      padding: 0 em(10);
    }

    &::before {
      @apply block;
      @extend %icon;

      content: "\ea3a";
      margin-right: em(2);
      color: #26b182;
    }

    // .stats-cards__difference_negative

    &_negative {
      color: $dark-red;
      background-color: $light-red;

      &::before {
        transform: rotate(180deg);
        color: #d94f55;
      }
    }
  }
}
