.transactions {
  &__table {
    @apply rounded-lg;

    border: rem(1) solid $light-gray;

    &__item {
      @apply px-4 py-3 bg-white;

      &__category,
      &__type,
      &__status,
      &__amount {
        @apply grid grid-cols-[80px_auto] items-center gap-3 lg:grid-cols-1;
      }

      &__transaction {
        @apply grid grid-rows-[auto] grid-cols-[60px_1fr];

        &__img {
          @apply row-start-1 row-end-2 flex justify-center items-center h-12 w-12 text-white bg-gray-500;

          border-radius: 50%;
        }

        &__name {
          @apply font-semibold items-center flex;
        }

        &__bank {
          color: $gray;
        }
      }

      &__category {
        &__name {
          @apply font-medium text-base rounded-lg p-1;

          width: 100%;
          outline: none;

          // -moz-appearance:none; /* Firefox */
          // -webkit-appearance:none; /* Safari and Chrome */
          // appearance:none;
          color: $gray;

          option {
            @apply bg-white;

            color: $gray;
          }
        }
      }

      &__type {
        p {
          color: $main-color;
        }

        color: $gray;
      }

      &__status {
        &__info {
          @apply px-3 py-0.5 w-min h-min rounded-full font-medium;

          &--paid {
            @apply bg-green-100 text-green-600;
          }

          &--pending {
            @apply bg-yellow-100  text-yellow-600;
          }

          &--rejected {
            @apply bg-red-100 text-red-600;
          }
        }
      }

      &__amount {
        &__info {
          @apply px-3 py-0.5 w-min h-min rounded-lg font-medium;

          &::before {
            @apply pr-1;
          }

          &--outgoing {
            @apply bg-red-100 text-red-600;

            &::before {
              content: "↓";
            }
          }

          &--incoming {
            @apply bg-green-100 text-green-600;

            &::before {
              content: "↑";
            }
          }
        }
      }

      &__media {
        @apply lg:hidden;
      }
    }
  }
}
