@import "~/components/shared/Loader/Loader";
@import "~/components/shared/Login/Login";
@import "~/components/shared/Title/Title";
@import "~/components/shared/AddForm/AddForm";
@import "~/components/shared/SectionForm/SectionForm";
@import "~/components/shared/Breadcrumbs/Breadcrumbs";

.button {
  @apply whitespace-nowrap;

  position: relative;
  padding: em(10) em(20);
  border-radius: em(5);
  color: $main-bg;
  background-color: $blue;
  transition: opacity 0.3s ease 0s;

  &_transparent {
    @apply bg-transparent;

    color: $blue;
  }

  &:hover {
    @apply opacity-70;
  }

  &:disabled {
    @apply opacity-50 cursor-default;
  }
}
