.login {
  // .login__form

  &__form {
    @apply flex flex-col;

    gap: em(15);
    padding: em(25) em(20);
    border-radius: em(4);
    border: em(2) solid $light-gray;
    background-color: #fff;

    > input,
    button {
      padding: em(10) em(15);
      border-radius: em(4);
    }
  }

  // .login__title

  &__title {
    @apply text-center text-2xl font-medium;
  }

  // .login__input

  &__input {
    border: rem(2) solid $light-gray;

    // .login__input_username

    // &_username {
    // }

    // .login__input_password

    // &_password {
    // }

    &[class*="_err"] {
      border-color: $red;
    }
  }

  // .login__submit

  &__submit {
    color: $main-bg;
    background-color: $blue;
    transition: opacity 0.3s ease 0s;

    &:hover {
      @apply opacity-50;
    }
  }
}
