.category-cards {
  // .category-cards__items

  &__items {
    @apply grid text-sm;

    grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
    gap: em(15, 14) em(25, 14);
  }

  // .category-cards__item

  &__item {
    @apply flex justify-between;

    border-radius: em(4, 14);
    border: em(1, 14) solid $light-gray;
  }

  // .category-cards__image

  &__image {
    @apply flex justify-center items-center;

    flex-shrink: 0;
    width: em(66, 14);
    border-top-left-radius: em(4, 14);
    border-bottom-left-radius: em(4, 14);
    color: $main-bg;
  }

  // .category-cards__main

  &__main {
    @apply flex justify-between items-center flex-auto;

    gap: em(5, 14);
    padding: em(10, 14) em(15, 14);
  }

  // .category-cards__text

  &__text {
    @apply flex flex-col;
  }

  // .category-cards__name

  &__name {
    @apply font-semibold break-all;
  }

  // .category-cards__label

  &__label {
    @apply capitalize;

    color: $gray;
  }

  // .category-cards__buttons

  &__buttons {
    @apply flex items-center;

    gap: em(10, 18);
  }

  // .category-cards__img

  &__img {
    width: em(15, 14);
    height: em(15, 14);
    transition: opacity 0.3s ease 0s;

    &:hover {
      @apply opacity-50;
    }

    img {
      @apply w-full h-full;
    }

    .loader {
      &::after {
        width: em(30, 18);
        height: em(30, 18);
      }
    }
  }

  // .category-cards__popup

  &__popup {
    font-size: rem(16);

    // .category-cards__popup_delete

    &_delete {
      text-align: center;
    }

    // .category-cards__popup_edit

    &_edit {
      .popup {
        // .popup__children

        &__children {
          @media (width > $mobile) {
            min-width: rem(530);
          }

          > *:not(:last-child) {
            @apply mb-7;
          }
        }
      }
    }
  }

  // .category-cards__title

  // &__title {
  // }

  // .category-cards__confirm-text

  &__confirm-text {
    margin-bottom: em(15);
  }

  // .category-cards__confirm-button

  &__confirm-button {
    @apply text-white bg-red-600;

    padding: em(5) em(10);
    border: em(2) solid #dc2626;
    transition: color, background-color 0.3s ease 0s;

    &:hover {
      @apply text-red-600 bg-white opacity-100;
    }
  }
}
